@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); 

*{
margin: 0;
padding: 0;
}

body {
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: normal;
}

.container {
margin-left: 20px;
max-width: 750px;
padding-top: 30px;
margin: auto;
}

.info-text p {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: bold;
margin-top: 10px;
color: rgb(172, 184, 190);
}

.info {
margin-bottom: 20px;
display: flex;
}

.info-text {
margin-left: 40px;
}

.info-text h1 {
margin-bottom: 50px;
}

.info-text h4 {
margin: 20px 0px;
}

@media (max-width:500px) {
.info {
display: block;
text-align: center;
 }
}

.card {
border-radius: 15px;
padding: 15px 25px;
margin-bottom: 15px;
}

.card h2 {
    margin-bottom: 10px;
    }

.bg-color1 {
background-color: rgba(160, 229, 192, 0.76);
width: 700px;
margin-bottom: 20px;
}

.bg-color2 {
background-color: rgba(203, 243, 129, 0.781);
width: 700px;
}

.avatar {
width: 300px;
border-radius: 28px;
box-shadow: 4px 4px 20px rgba(0, 0, 0, 25);
}

a {
color: rgb(212, 201, 201);
text-decoration: none;
font-weight: bold;
transition: all 90ms;
}

a:hover {
color: blue;
font-size: 20px;
text-decoration: underline;
}

.btn {
background-color: rgb(0, 0, 0);
border: none;
border-radius: 10px;
color: antiquewhite;
cursor: pointer;
padding: 10px 10px;
transition: all 1s;
font-weight: bold;
color: rgb(238, 226, 65);
}

.btn:hover {
opacity: .8;
font-size: 15px;
}

.table {
width: 100%;
}

.table td {
padding-bottom: 5px;
}

.table td:nth-child(2) ,.table td:nth-child(3) {
color: rgb(0, 0, 255);
}
.table td:nth-child(1) {
color: red;
}

.form h2 {
text-align: center;
margin-bottom: 30px;
color: #fffb09;
font-family: 'Courier New', Courier, monospace,sans-serif;
background-color: #173ee9;

}

.form-row {
margin-bottom: 10px;
display: flex;
}

.form-row .form-group {
/* display: inline-block; */
margin-right: 20px;
width: 50%;

}

.form-group {
display: block;
font-size: 14px;
color: #fffb09;
}

.form-group input, .form-group textarea {
width: 100%;
box-sizing: border-box;
border: none;
background: transparent;
border-bottom: 1px solid #ccc;
color: white;
padding: 15px 0 10px;
font-family: inherit;
outline: none;
}

@media (max-width:500px) {
.form-row {
display: block;
 }
.form-row .form-group {
width: 100%;
margin-right: 0%;
margin-bottom: 10px;
 } 
}

body {
background-image: url("https://oboi.ws/originals/original_4038_oboi_zakat_na_beregu_morja_2560x1600.jpg");
background-size: cover;
background-image: center-center;
background-color: rgb(196, 204, 179);
}
